:root {
    // FONT FAMILY
    --font-family-primary: Verdana, arial, serif;
    --font-family-secondary: 'Gilroy-Bold', arial, serif;

    // FONT SIZES
    --font-size-xs: 11px;
    --font-line-xs: 22px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs);
    --font-size-s: 14px;
    --font-line-s: 24px;
    --font-s: var(--font-size-s) / var(--font-line-s);
    --font-size-m: 24px;
    --font-line-m: 32px;
    --font-m: var(--font-size-m) / var(--font-line-m);
    --font-size-l: 32px;
    --font-line-l: 42px;
    --font-l: var(--font-size-l) / var(--font-line-l);
}
