.accordion {
    margin: 32px 0;
    width: 100%;
}

.text {
    flex-grow: 1;
}

.textBottom {
    margin-top: 12px;
}

.content {
    margin-top: 32px;
}

.arrow {
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
}

.open {
    transform: rotate(180deg);
}
