.accordion {
  margin: 32px 0 32px;
}

.text {
  flex-grow: 1;
}

.content {
  margin-top: 32px;
}

.arrow {
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.open {
  transform: rotate(180deg);
}
