.text {
  text-align: start;
}

.xs2 {
  font-size: var(--font-size-2xs);
  line-height: var(--font-line-2xs);
}

.xs {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-xs);
}

.s {
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
}

.m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}

.l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}

.xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
}

.xl2 {
  font-size: var(--font-size-2xl);
  line-height: var(--font-line-2xl);
}

.xl3 {
  font-size: var(--font-size-3xl);
  line-height: var(--font-line-3xl);
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.verdana {
  font-family: var(--font-family-verdana);
}

.gilroy {
  font-family: var(--font-family-gilroy);
}

.montserrat {
  font-family: var(--font-family-montserrat);
}

.black {
  color: #000000;
}

.dark-gray {
  color: #1E1E1E;
}

.grey {
  color: #9096A3;
}

.white {
  color: #FFFFFF;
}

.purple {
  color: #536DB4;
}

.pink {
  color: #D790FF;
}