.tag {
    border-radius: 100px;
    min-width: 72px;
    
}

.xs {
    padding: 4px 12px;
}

.s {
    padding: 6px 14px;
}

.m {
    padding: 8px 16px;
}

.l {
    padding: 10px 18px;
}
.start {
    text-align: start;
}
.end {
    text-align: end;
}
.center {
    text-align: center;
}
