.tag {
    border-radius: 100px;
    display: flex;
    justify-content: center;
}

.xs {
    padding: 4px 12px;
}

.s {
    padding: 6px 14px;
}

.m {
    padding: 8px 16px;
}

.l {
    padding: 10px 18px;
}
.left {
    width: 72px;
}
.right {
    width: 90px;
}
