.header {
  margin-bottom: 32px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr;
}

.mobileLink {
  background: #7E4E9A;
  border-radius: 10px;
  height: 50px;
  padding: 10px 20px;
}