.flex {
  display: flex;
}

.nowrap {
  flex-wrap: nowrap;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.align-start {
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}
