.card {
  border-radius: 24px;
  background: var(--white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 128px;
  height: 100%;
}

.image {
  max-height: 90%;
  object-fit: contain;
}
