.arrow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.mobileLink {
    background: #7E4E9A;
    border-radius: 10px;
    height: 50px;
    padding: 10px 20px;
}