.wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 54px;;
}

.scroll {
    display: flex;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.left-button {
  position: absolute;
  z-index: 2;
  left: 0;
  top: calc(50% - 20px);
}

.right-button {
  position: absolute;
  z-index: 2;
  right: 0;
  top: calc(50% - 20px);
}

.left-arrow {
  transform: rotate(0.5turn);
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0;
  }
}
