.map {
    border-radius: 24px;
    background: linear-gradient(to top, #4b2c7f, #7f4e9b);
    padding: 64px;
}


.mapContainer {
    position: relative;
}

.salary {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    width: fit-content;
}

.l {
    zoom: 0.9;
    transform: scale(0.9);
}

.m {
    margin-right: 100px;
    zoom: 0.9;
    transform: scale(0.9);
}

.s {
    margin-right: 100px;
    zoom: 0.9;
    transform: scale(0.9);
}

.xs {
    margin-right: 80px;
    zoom: 0.85;
    transform: scale(0.85);
}

.pointer {
    cursor: pointer;
}

.opacity {
    opacity: 0.7;
}

.firstPointer {
    top: 290px;
    left: -40px;
    position: absolute;

    div {
        position: absolute;
        top: 10px;
        left: 90px;
    }
}

.firstPointerM {
    position: absolute;
    top: 0px;
    left: -80px;
}

.lastPointer {
    top: -40px;
    right: 22px;
    position: absolute;

    div {
        position: absolute;
        top: 20px;
        left: 120px;
    }
}

.secondPointer {
    top: 110px;
    left: 150px;
    position: absolute;

    div {
        position: absolute;
        top: 20px;
        left: -180px;
        margin-right: 100px;
        margin-left: -20px;
    }
}

.secondPointerM {
    position: absolute;
    top: 140px;
    left: -80px;
}

.thirdPointer {
    top: -20px;
    left: 250px;
    position: absolute;

    div {
        position: absolute;
        top: 20px;
        left: -240px;
    }
}

.thirdPointerM {
    position: absolute;
    top: 280px;
    left: -80px;
}

.forthPointer {
    top: 105px;
    left: 338px;
    position: absolute;

    div {
        position: absolute;
        top: 100px;
        left: 0;
    }
}

.forthPointerM {
    position: absolute;
    top: 420px;
    left: -80px;
}

.fifthPointer {
    top: 90px;
    right: -45px;
    position: absolute;

    div {
        position: absolute;
        top: 100px;
        left: 50px;
    }
}

.fifthPointerM {
    position: absolute;
    top: 560px;
    left: -80px;
}

@media (max-width: 540px) {
    .map {
        padding: 32px;
    }
}