.tab {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    background: #e2e2e8;
    width: 100%;
    transition: background-color 0.3s ease; 

    &:hover {
        background: hwb(226 37% 28%); 
    }
}

.tabText {
    transition: color 0.3s ease; 
    &:hover {
        color: #fff; 
    }
}

.active {
    background: #596daf;
    .tabText {
        color: #fff; 
    }
}

.left {
    border-radius: 100px 0 0 100px;
}

.right {
    border-radius: 0 100px 100px 0;
}

.rounded {
    border-radius: 100px;
}
