.wrapper {
  background: var(--purple);
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.widget {
  background: var(--white);
  padding: 48px 64px;
  border-radius: 24px;
  width: 50%;
}

.image {
  display: flex;
  align-items: center;
  padding: 64px 36px 88px 64px;
  width: 50%;
}

@media (max-width: 860px) {
  .wrapper {
    flex-direction: column;
  }

  .widget {
    width: 100%;
  }

  .image {
    width: 100%;
  }
}