.promo {
    position: relative;
    height: 785px;
    border-radius: 24px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px 30px 2px;
    background: var(--gray);
    border-bottom-right-radius: 24px;

    &::before {
        content: "";
        position: absolute;
        bottom: -24px;
        left: 0;
        height: 24px;
        width: 100%;
        border-top-left-radius: 24px;
        background: transparent;
        box-shadow: -24px 0 0 var(--gray);
    }

    &::after {
        content: "";
        position: absolute;
        right: -24px;
        top: 0;
        width: 24px;
        height: 100%;
        border-top-left-radius: 24px;
        background: transparent;
        box-shadow: 0 -24px 0 var(--gray);
    }
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 40px 0 5px;
    background: var(--gray);
    border-top-right-radius: 24px;
    width: 380px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: -24px;
        left: 0;
        height: 24px;
        width: 100%;
        border-bottom-left-radius: 24px;
        background: transparent;
        box-shadow: -24px 0 0 var(--gray);
    }

    &::after {
        content: "";
        position: absolute;
        right: -24px;
        bottom: 60px;
        width: 24px;
        height: 100%;
        border-bottom-left-radius: 24px;
        background: transparent;
        box-shadow: 0 24px 0 var(--gray);
    }
}

.description {
    position: absolute;
    right: 35px;
    bottom: 32px;
    padding: 24px;
    border-radius: 24px;
    background: var(--white);
    max-width: 320px;
}

.decorative {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 445px;
    height: 60px;
    background: var(--gray);
    border-top-right-radius: 24px;

    &::before {
        content: "";
        position: absolute;
        right: -24px;
        bottom: 0;
        width: 24px;
        height: 100%;
        border-bottom-left-radius: 24px;
        background: transparent;
        box-shadow: 0 24px 0 var(--gray);
    }
}

@media (max-width: 850px) {
  .description {
    position: absolute;
    top: 115px;
    left: 32px;
    max-height: fit-content;
  }
}

@media (max-width: 495px) {
  .title {
    width: 180px;
  }

  .decorative {
    width: 240px;
  }
}
