.grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(150px, 30%), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 16px;
}

.title {
  margin-bottom: 32px;
  font-family: 'Gilroy', sans-serif;
}

@media (max-width: 840px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}
