.tabs {
    display: flex;
    gap: 8px;
}

.tabsSmall {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    button {
        grid-column: span 1;
    }
    button:nth-child(1) {
        grid-column: span 2;
    }
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}
